<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link rel="stylesheet" href="../../static/resources/css/style.css" th:href="@{../../resources/css/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,300i,400&amp;subset=cyrillic" rel="stylesheet">
    <script src="webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
</head>
<body>
    <header class="recipe-header">
        <div class="recipe-title row">
            <h1 th:text="${recipe.title}">Lorem</h1>
        </div>
        <div class="recipe-description row">
            <h2 th:text="'~' + ${recipe.cookTime + recipe.prepTime} + ' minutes'">
                ~40 minutes
            </h2>
            <p th:text="${recipe.notes.recipeNotes}">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, aspernatur atque dolorem dolores eligendi enim hic iste magnam minus mollitia nemo nostrum officia qui repellendus repudiandae rerum temporibus vitae. At?
            </p>
        </div>
    </header>

    <section>
        <div class="row">
            <h2 class="section-header">
                Description
            </h2>
            <div class="long-copy">
                <p th:text="${recipe.description}">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolore dolorem doloremque, eum id inventore iste voluptates! Atque corporis dicta, hic modi rerum totam. Earum excepturi nostrum optio ratione sequi?
                </p>
                <p>Original source: <a target="_blank" href="#" th:href="${recipe.url}" th:text="${recipe.source}">own</a></p>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <h2 class="section-header">
                General information
            </h2>
            <div class="long-copy">
                <p th:text="'Difficulty: ' + ${recipe.difficulty}"></p>
                <p>Categories:</p>
                <ul>
                    <li th:each="category : ${recipe.categories}" th:text="${category.description}"></li>
                </ul>
                <p th:text="${recipe.hint}"></p>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <h2 class="section-header">
                You will need
            </h2>
            <div class="long-copy">
                <ul>
                    <li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient.amount} + ' ' + ${ingredient.uom.description} + ' ' + ${ingredient.description}"></li>
                </ul>
            </div>
        </div>
    </section>

    <section>
        <div class="row">
            <h2 class="section-header">
                How to cook
            </h2>
            <div class="long-copy">
                <p th:each="direction : ${recipe.directions.split('\n')}" th:text="${direction}"></p>
            </div>
        </div>
    </section>
</body>
</html>