<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <link rel="stylesheet" href="../../static/vendors/css/grid.css" th:href="@{../../vendors/css/grid.css}">
    <link rel="stylesheet" href="../../static/vendors/css/ionicons.min.css" th:href="@{../../vendors/css/ionicons.min.css}">
    <link rel="stylesheet" href="../../static/resources/css/style.css" th:href="@{../../resources/css/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,300i,400&amp;subset=cyrillic" rel="stylesheet">
    <script src="webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
</head>
<body>
    <header>
        <div class="recipe-title row">
            <h1 th:text="${recipe.description}">Lorem</h1>
        </div>
        <div class="recipe-description row">
            <h2 th:text="'~' + ${recipe.cookTime + recipe.prepTime} + ' minutes'">
                ~40 minutes
            </h2>
            <p th:text="${recipe.notes.recipeNotes}">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, aspernatur atque dolorem dolores eligendi enim hic iste magnam minus mollitia nemo nostrum officia qui repellendus repudiandae rerum temporibus vitae. At?
            </p>
        </div>
    </header>
    <section class="recipe-description-full">
        <div class="row">
            <h2>
                Recipe
            </h2>
            <p th:text="${recipe.directions}" class="long-copy">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto dolore dolorem doloremque, eum id inventore iste voluptates! Atque corporis dicta, hic modi rerum totam. Earum excepturi nostrum optio ratione sequi?
            </p>
        </div>

        <div class="row">
            <div class="col span-1-of-3">
                <i class="ion-ios-nutrition icon-big"></i>
                <h3>Ingredients</h3>
                <ul>
                    <li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient.amount} + ' ' + ${ingredient.uom.description} + ' ' + ${ingredient.description}"></li>
                </ul>
            </div>
            <div class="col span-1-of-3">
                <i class="ion-ios-flask icon-big"></i>
                <h3>How to cook</h3>
                <p th:text="'Prepare for ' + ${recipe.prepTime} + ' minutes, cook for ' + ${recipe.cookTime} + 'minutes'">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto at deleniti exercitationem harum illum impedit natus numquam obcaecati praesentium quaerat quo reiciendis rem rerum unde ut vel, veritatis, voluptatibus!
                </p>
            </div>
            <div class="col span-1-of-3">
                <i class="ion-earth icon-big"></i>
                <h3>Original source</h3>
                <p>
                    <a th:href="${recipe.url}" th:text="${recipe.source}" href="http://www.google.com">Google</a>
                </p>
            </div>
        </div>
    </section>
</body>
</html>