/*----------------------------------------*/
/* BASIC SETUP */
/*----------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html, body {
    font-family: 'Montserrat', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #555;
    text-rendering: optimizeLegibility;
}

:root {
    --main-color: #2980b9;
    --main-color-darker: #236d9d;
    --image-text-color: #ecf0f1;
    --image-text-color-darker: #d8e1e3;
}

.clearfix { zoom: 1; }
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*----------------------------------------*/
/* REUSABLE */
/*----------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto 20px auto;
}

section {
    padding: 50px;
}

.col {
    margin-top: 30px;
}

a:link,
a:visited,
input[type=submit] {
    text-decoration: none;
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    -webkit-transition: border-bottom-color 0.2s, color 0.2s;
    -moz-transition: border-bottom-color 0.2s, color 0.2s;
    -ms-transition: border-bottom-color 0.2s, color 0.2s;
    -o-transition: border-bottom-color 0.2s, color 0.2s;
    transition: border-bottom-color 0.2s, color 0.2s;
}

input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    background-color: var(--main-color);
    color: var(--image-text-color);
    border-radius: 300px;
    font-size: 100%;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    border-color: transparent;
    cursor: pointer;
}

input[type=submit]:hover,
input[type=submit]:active {
    background-color: var(--main-color-darker);
}

a:hover,
a:active {
    color: #555;
    border-bottom-color: transparent;
}

.long-copy {
    width: 80%;
    margin: auto;
}

ul {
    list-style: none;
}

ul li {
    line-height: 145%;
}

ul li:before {
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: var(--main-color);
    border-radius: 50%;
    margin-right: 5px;
}

/*----------------------------------------*/
/* INDEX PAGE */
/*----------------------------------------*/

header.index-header {
    margin-bottom: 70px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    padding: 0 10px;
}

nav ul {
    list-style: none;
    float: right;
    margin: 15px 0;
}

nav ul li {
    display: inline-block;
    margin-left: 40px;
}

nav ul li:before {
    display: none;
}

/*----------------------------------------*/
/* NEW RECIPE PAGE */
/*----------------------------------------*/

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

select {
    font-size: 100%;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

.post-form input[type=submit] {
    margin-left: 45%;
}

/*----------------------------------------*/
/* RECIPE DISPLAY PAGE */
/*----------------------------------------*/

header.recipe-header {
    width: 100%;
    height: 70vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    color: var(--image-text-color);
}

.recipe-title {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -30%);
    -moz-transform: translate(-50%, -30%);
    -ms-transform: translate(-50%, -30%);
    -o-transform: translate(-50%, -30%);
    transform: translate(-50%, -30%);
    padding-bottom: 20px;
}

.recipe-description {
    position: absolute;
    bottom:0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    padding-bottom: 20px;
}

header h2 {
    text-align: center;
}

.home {
    left: 0;
    top: 0;
    padding: 10px 0 0 10px;
}

.home ul li {
    display: inline-block;
    margin-right: 5px;
}

.home ul li a:link,
.home ul li a:visited {
    font-size: 120%;
    border: none;
    color: var(--image-text-color);
    text-transform: uppercase;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    -moz-transition: border-bottom 0.2s, color 0.2s;
    -ms-transition: border-bottom 0.2s, color 0.2s;
    -o-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
    padding-bottom: 5px;
}

.home ul li a:hover,
.home ul li a:active {
    border-bottom: 2px solid var(--main-color);
    color: var(--image-text-color-darker);
}

.home ul li:before {
    display: none;
}

/*----------------------------------------*/
/* PARAGRAPHS */
/*----------------------------------------*/

h1,
h2,
.panel-header label {
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    font-size: 240%;
    word-spacing: 4px;
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 180%;
    font-weight: 300;
    margin-bottom: 20px;
    word-spacing: 2px;
}

h3 {
    font-size: 120%;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 15px;
}

p {
    text-align: justify;
    font-size: 100%;
    line-height: 145%;
}

.section-header {
    text-align: center;
}

.section-header:after {
    content: '';
    width: 200px;
    height: 2px;
    background-color: var(--main-color);
    display: block;
    margin: 15px auto 0 auto;
}

/*----------------------------------------*/
/* PANEL ELEMENT */
/*----------------------------------------*/

.panel {
    width: 80%;
    margin: 15px auto auto auto;
    border: 2px solid var(--main-color);
    border-radius: 4px;
}

.panel-header {
    padding: 5px 0 5px 5px;
    background-color: var(--main-color);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.panel-header h2,
.panel-header label {
    font-size: 150%;
    margin: 0;
    display: inline-block;
    color: var(--image-text-color);
}

.panel-header a:link,
.panel-header a:visited {
    float: right;
    display: inline-block;
    margin-bottom: 0;
    color: var(--image-text-color);
    margin-right: 10px;
    font-size: 120%;
    font-weight: 400;
    padding: 1%;
}

.panel-header a:hover,
.panel-header a:active {
    border-bottom: 2px solid var(--image-text-color-darker);
}

.panel-header i {
    font-size: 200%;
    width: 53px;
    height: 53px;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--main-color);
    display: inline-block;
}

.panel-body {
    padding: 10px;
}

/*----------------------------------------*/
/* INGREDIENTS LIST PAGE */
/*----------------------------------------*/

ul li a.delete {
    float: right;
}

/*----------------------------------------*/
/* 404 NOT FOUND PAGE */
/*----------------------------------------*/

.not-found-exception {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)), url("img/164431105-jolly-roger-wallpapers.jpg") center fixed;
    background-size: cover;
}

.not-found-exception h1,
.exception-box {
    position: absolute;
    color: var(--image-text-color);
}

.not-found-exception h1 {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 300%;
}

.exception-box {
    left: 50%;
    bottom: 20%;
    transform: translateX(-50%);
}

.exception-box h3 {
    font-size: 145%;
}

.exception-box h4 {
    font-size: 110%;
    text-align: center;
}

/*----------------------------------------*/
/* 400 BAD REQUEST PAGE */
/*----------------------------------------*/

.bad-request-exception {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
}

.bad-request-exception h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: var(--image-text-color-darker);
}
