<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/resources/css/style.css" th:href="@{/resources/css/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,300i,400&amp;subset=cyrillic"
          rel="stylesheet">
    <title>400 Bad Request</title>
</head>
<body>
    <div class="bad-request-exception">
        <h1>400 Bad Request</h1>
        <div class="exception-box">
            <h3>Go back and re-check your input.</h3>
            <h4 th:text="${exception.getMessage()}"></h4>
        </div>
    </div>
</body>
</html>