<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipes</title>
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
</head>
<body>
    <h1>My Recipes!</h1>
    <div class="recipe" th:each="recipe : ${recipes}">
        <h2 th:text="${recipe.description}"></h2>
        <ul>
            <li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient.amount} + ' ' + ${ingredient.uom.description} + ' ' + ${ingredient.description}"></li>
        </ul>
    </div>
</body>
</html>