<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{../resources/css/style.css}">
    <link rel="stylesheet" th:href="@{../vendors/css/ionicons.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,300i,400&amp;subset=cyrillic" rel="stylesheet">
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <title>Recipes</title>
</head>
<body>
    <header class="index-header">
        <nav>
            <ul>
                <li><a href="">Add new recipe</a></li>
            </ul>
        </nav>
    </header>

    <div class="panel" th:each="recipe : ${recipes}">
        <div class="panel-header">
            <i class="ion-pizza"></i>
            <h2 th:text="${recipe.title}"></h2>
        </div>
        <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem labore libero minus unde? Ducimus earum eius, esse hic illo impedit in, iste, iure laborum mollitia natus nihil repudiandae rerum sequi.
            <a th:href="'/recipes/show/' + ${recipe.id}">Open</a>
        </div>
    </div>
</body>
</html>